In [12]:
import os

# 1. Create a directory for the data
if not os.path.exists('data'):
    os.makedirs('data')

# 2. Download the zip file (using a reliable mirror for the NASA dataset)
!wget https://data.nasa.gov/docs/legacy/CMAPSSData.zip -O data/CMAPSSData.zip

# 3. Unzip it
!unzip -o data/CMAPSSData.zip -d data/

print("Data downloaded and extracted!")

--2025-12-19 12:39:19--  https://data.nasa.gov/docs/legacy/CMAPSSData.zip
Resolving data.nasa.gov (data.nasa.gov)...

3.224.44.122, 44.218.192.24
Connecting to data.nasa.gov (data.nasa.gov)|3.224.44.122|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://data-nasa-bucket-production.s3.us-east-1.amazonaws.com/legacy/CMAPSSData.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZJ34W7PDIOTH6B6L%2F20251219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251219T113925Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIEDA6kyve3QKyj4VTSMl39jJiUbH%2BWgO1o5KauTnZvAoAiBW7wJJSr2thQa3ZSubCfYZz1DbdLa%2BruH%2FhPKv3tDTlyqfBQit%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDYzOTY3NDgwOTI4NiIMhoRX9U6gZzvwUIzmKvMEhWpECNVQCVBZY6PcO6Vr3x9SnxZymi5dqOf%2Ft8TZ%2FFjpZTvhikI8jrxkQ1MFMV6gOVLGgUd%2BVgHWDe%2BqGTBlVmW8vUVVe4mwhcZ%2FumngpqmDP1v%2FC6Y%2Fi0T6AcMPrrXHvfNFc2s29CESboR8Eow00xqUVNnhqeKayExK0qnxoPlnS9B7BTK%2B55qn%2FscxrwoEzbgNSc0nl575kFZ10vlW1lFme8HkU2RdOF128r%2BCR07yJUZ92a1Bs2bMFBNASSeZrtiCYMQczj9VGsnJbXUxGgut5D6pntg5iUToZ%2BzJ9vDVoUwfOfR6AUtE8Ti7ojvF2rZ9TBFBCLQ6npwXPJOYB6mCM6T4BvehO%2B1GTY%2BnTP9CGPFBq2fd1wEBFmDVsBoW6nNzaTM%2F%2FoYpp3aVGULhsvV2hQEoy671Ph%2B8cdbeFDmP6BNQui%2BLWG%2FHQa%2BAvX7cuIqVFNRihYpBvzkODbTOrWnj0IrBs442XhMCmA0aYA9%2FiNLKoF7qT2bIytHihKiy%2B00TtnrJtKa8Oml0lyss2bp00Br%2Bcg8VjxnWfbg7l6CXZGjrvJ2Y6370p7PuO%2BqrQiRzx1uV1hqsoGwUc7yXesJ3KQNvNI5zDla0rNtuPdwKcKeobgM5a8j%2FMHbEx72tLbP1w6T0WpgPFT18TTZKyN9Cg0j8o7xHGZL9lpLN2Lzd66e5rtFojkGn%2BO%2BzTN49Evgy4sKox%2Fhqb339MA%2BrVG%2B6UpXfqZUK1U6G%2Ftr01e6tb7Q%2FVSpfPt0Ork25%2BXc6I24e5DuvW8NpJT1QNEF8UvjyxGWZbGjRK17FHgQOeoa02IV2KVxWQFXTT7c9pORVRTO5MJfrlMoGOpoBpdqTo41jCHqNYe89QnseYJwXCJ9JGiHX7GlT6JKCCWRcV2De8qRiO%2BNEyuKn2b6u9wNRlwpsER3yHFXHl60XnGn%2BV8fsQzTaiQzQJ9zJvpXdyJ8wpndR%2F9DlpvzpzYgh5gvHT6I3HBxeSsAwH5lLD1qSZc853758xU4%2BagDvnZ4z6Fp4SCkykmNs0j4v9BataD7fYdSDR5RNEA%3D%3D&X-Amz-Signature=580b4b42be7d41e09db8a18352a70826b71a7bc217197116cdee8089839c348c&X-Amz-SignedHeaders=host&x-id=GetObject [following]
--2025-12-19 12:39:25--  https://data-nasa-bucket-production.s3.us-east-1.amazonaws.com/legacy/CMAPSSData.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIAZJ34W7PDIOTH6B6L%2F20251219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20251219T113925Z&X-Amz-Expires=3600&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIEDA6kyve3QKyj4VTSMl39jJiUbH%2BWgO1o5KauTnZvAoAiBW7wJJSr2thQa3ZSubCfYZz1DbdLa%2BruH%2FhPKv3tDTlyqfBQit%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDYzOTY3NDgwOTI4NiIMhoRX9U6gZzvwUIzmKvMEhWpECNVQCVBZY6PcO6Vr3x9SnxZymi5dqOf%2Ft8TZ%2FFjpZTvhikI8jrxkQ1MFMV6gOVLGgUd%2BVgHWDe%2BqGTBlVmW8vUVVe4mwhcZ%2FumngpqmDP1v%2FC6Y%2Fi0T6AcMPrrXHvfNFc2s29CESboR8Eow00xqUVNnhqeKayExK0qnxoPlnS9B7BTK%2B55qn%2FscxrwoEzbgNSc0nl575kFZ10vlW1lFme8HkU2RdOF128r%2BCR07yJUZ92a1Bs2bMFBNASSeZrtiCYMQczj9VGsnJbXUxGgut5D6pntg5iUToZ%2BzJ9vDVoUwfOfR6AUtE8Ti7ojvF2rZ9TBFBCLQ6npwXPJOYB6mCM6T4BvehO%2B1GTY%2BnTP9CGPFBq2fd1wEBFmDVsBoW6nNzaTM%2F%2FoYpp3aVGULhsvV2hQEoy671Ph%2B8cdbeFDmP6BNQui%2BLWG%2FHQa%2BAvX7cuIqVFNRihYpBvzkODbTOrWnj0IrBs442XhMCmA0aYA9%2FiNLKoF7qT2bIytHihKiy%2B00TtnrJtKa8Oml0lyss2bp00Br%2Bcg8VjxnWfbg7l6CXZGjrvJ2Y6370p7PuO%2BqrQiRzx1uV1hqsoGwUc7yXesJ3KQNvNI5zDla0rNtuPdwKcKeobgM5a8j%2FMHbEx72tLbP1w6T0WpgPFT18TTZKyN9Cg0j8o7xHGZL9lpLN2Lzd66e5rtFojkGn%2BO%2BzTN49Evgy4sKox%2Fhqb339MA%2BrVG%2B6UpXfqZUK1U6G%2Ftr01e6tb7Q%2FVSpfPt0Ork25%2BXc6I24e5DuvW8NpJT1QNEF8UvjyxGWZbGjRK17FHgQOeoa02IV2KVxWQFXTT7c9pORVRTO5MJfrlMoGOpoBpdqTo41jCHqNYe89QnseYJwXCJ9JGiHX7GlT6JKCCWRcV2De8qRiO%2BNEyuKn2b6u9wNRlwpsER3yHFXHl60XnGn%2BV8fsQzTaiQzQJ9zJvpXdyJ8wpndR%2F9DlpvzpzYgh5gvHT6I3HBxeSsAwH5lLD1qSZc853758xU4%2BagDvnZ4z6Fp4SCkykmNs0j4v9BataD7fYdSDR5RNEA%3D%3D&X-Amz-Signature=580b4b42be7d41e09db8a18352a70826b71a7bc217197116cdee8089839c348c&X-Amz-SignedHeaders=host&x-id=GetObject
Resolving data-nasa-bucket-production.s3.us-east-1.amazonaws.com (data-nasa-bucket-production.s3.us-east-1.amazonaws.com)... 16.15.193.107, 16.15.179.203, 52.217.197.106, ...
Connecting to data-nasa-bucket-production.s3.us-east-1.amazonaws.com (data-nasa-bucket-production.s3.us-east-1.amazonaws.com)|16.15.193.107|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12425978 (12M) [application/x-zip-compressed]
Saving to: ‘data/CMAPSSData.zip’

data/CMAPSSData.zip 100%[===================>]  11.85M  11.5MB/s    in 1.0s

2025-12-19 12:39:27 (11.5 MB/s) - ‘data/CMAPSSData.zip’ saved [12425978/12425978]

Archive:  data/CMAPSSData.zip
  inflating: data/Damage Propagation Modeling.pdf
  inflating: data/readme.txt
  inflating: data/RUL_FD001.txt
  inflating: data/RUL_FD002.txt
  inflating: data/RUL_FD003.txt
  inflating: data/RUL_FD004.txt
  inflating: data/test_FD001.txt
  inflating: data/test_FD002.txt
  inflating: data/test_FD003.txt
  inflating: data/test_FD004.txt
  inflating: data/train_FD001.txt
  inflating: data/train_FD002.txt
  inflating: data/train_FD003.txt
  inflating: data/train_FD004.txt
Data downloaded and extracted!

In [13]:
# The dataset has 26 columns
# 1. Unit Number (Which engine is it?)
# 2. Time Cycles (How long has it been running?)
# 3-5. Operational Settings (Altitude, Speed, etc.)
# 6-26. Sensor Readings (s1 to s21)

index_names = ['unit_nr', 'time_cycles']
setting_names = ['setting_1', 'setting_2', 'setting_3']
sensor_names = ['s_{}'.format(i) for i in range(1, 22)] 
col_names = index_names + setting_names + sensor_names

print(col_names)

['unit_nr', 'time_cycles', 'setting_1', 'setting_2', 'setting_3', 's_1', 's_2', 's_3', 's_4', 's_5', 's_6', 's_7', 's_8', 's_9', 's_10', 's_11', 's_12', 's_13', 's_14', 's_15', 's_16', 's_17', 's_18', 's_19', 's_20', 's_21']

In [14]:
import pandas as pd

train_df = pd.read_csv('data/train_FD001.txt', sep=r'\s+', header=None, names=col_names)
#train_df = pd.read_csv('data/train_FD001.txt', sep=r' ', header=None, names=col_names)

print("Training data shape:", train_df.shape)
train_df.head()

Training data shape: (20631, 26)

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [15]:
setting_names = train_df.columns.to_list()
setting_names

['unit_nr',
 'time_cycles',
 'setting_1',
 'setting_2',
 'setting_3',
 's_1',
 's_2',
 's_3',
 's_4',
 's_5',
 's_6',
 's_7',
 's_8',
 's_9',
 's_10',
 's_11',
 's_12',
 's_13',
 's_14',
 's_15',
 's_16',
 's_17',
 's_18',
 's_19',
 's_20',
 's_21']

In [16]:
max_value_cycle = train_df.groupby('unit_nr')['time_cycles'].max()
max_value_cycle.head()

unit_nr
1    192
2    287
3    179
4    189
5    269
Name: time_cycles, dtype: int64

In [17]:
# Convert Series to DataFrame with a specific column name
max_cycle_df = max_value_cycle.to_frame(name='max_cycle')
max_cycle_df.head()

         max_cycle
unit_nr
1              192
2              287
3              179
4              189
5              269

In [18]:
#pd.merge(left_df, right_df, on='unit_nr')
train_t = train_df.merge(max_cycle_df, on='unit_nr')
train_t.head()

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,max_cycle
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,192
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,192
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,192
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,192
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,192

In [19]:
train_df_merged = train_df.merge(max_cycle_df, left_on='unit_nr', right_index=True)
train_df_merged.head(200)

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,max_cycle
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,192
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,192
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,192
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,192
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2,4,0.0035,-0.0004,100.0,518.67,641.68,1584.15,1396.08,14.62,...,2387.93,8140.44,8.4018,0.03,391,2388,100.0,39.13,23.5027,287
196,2,5,0.0005,0.0004,100.0,518.67,641.73,1579.03,1402.52,14.62,...,2387.94,8136.67,8.3867,0.03,390,2388,100.0,39.18,23.4234,287
197,2,6,-0.0010,0.0004,100.0,518.67,641.30,1577.50,1396.76,14.62,...,2387.99,8133.65,8.3800,0.03,392,2388,100.0,39.15,23.4270,287
198,2,7,0.0001,-0.0002,100.0,518.67,642.03,1587.49,1400.65,14.62,...,2388.04,8136.33,8.3941,0.03,391,2388,100.0,39.10,23.4718,287
199,2,8,0.0015,-0.0004,100.0,518.67,642.55,1590.41,1395.39,14.62,...,2387.96,8137.92,8.3861,0.03,391,2388,100.0,39.11,23.4381,287

In [20]:
train_df_merged['RUL'] = (
    train_df_merged['max_cycle'] - train_df_merged['time_cycles']
)
train_df_merged.head()

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,max_cycle,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,192,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,192,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,192,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,192,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,192,187

In [21]:
train_df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20631 entries, 0 to 20630
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unit_nr      20631 non-null  int64
 1   time_cycles  20631 non-null  int64
 2   setting_1    20631 non-null  float64
 3   setting_2    20631 non-null  float64
 4   setting_3    20631 non-null  float64
 5   s_1          20631 non-null  float64
 6   s_2          20631 non-null  float64
 7   s_3          20631 non-null  float64
 8   s_4          20631 non-null  float64
 9   s_5          20631 non-null  float64
 10  s_6          20631 non-null  float64
 11  s_7          20631 non-null  float64
 12  s_8          20631 non-null  float64
 13  s_9          20631 non-null  float64
 14  s_10         20631 non-null  float64
 15  s_11         20631 non-null  float64
 16  s_12         20631 non-null  float64
 17  s_13         20631 non-null  float64
 18  s_14         20631 non-null  float64
 19  s_15         20631 non-null  float64
 20  s_16         20631 non-null  float64
 21  s_17         20631 non-null  int64
 22  s_18         20631 non-null  int64
 23  s_19         20631 non-null  float64
 24  s_20         20631 non-null  float64
 25  s_21         20631 non-null  float64
 26  max_cycle    20631 non-null  int64
 27  RUL          20631 non-null  int64
dtypes: float64(22), int64(6)
memory usage: 4.4 MB

In [22]:
input_features = train_df_merged[setting_names].copy()
input_features.head(200)

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2,4,0.0035,-0.0004,100.0,518.67,641.68,1584.15,1396.08,14.62,...,522.49,2387.93,8140.44,8.4018,0.03,391,2388,100.0,39.13,23.5027
196,2,5,0.0005,0.0004,100.0,518.67,641.73,1579.03,1402.52,14.62,...,522.27,2387.94,8136.67,8.3867,0.03,390,2388,100.0,39.18,23.4234
197,2,6,-0.0010,0.0004,100.0,518.67,641.30,1577.50,1396.76,14.62,...,522.80,2387.99,8133.65,8.3800,0.03,392,2388,100.0,39.15,23.4270
198,2,7,0.0001,-0.0002,100.0,518.67,642.03,1587.49,1400.65,14.62,...,522.14,2388.04,8136.33,8.3941,0.03,391,2388,100.0,39.10,23.4718
199,2,8,0.0015,-0.0004,100.0,518.67,642.55,1590.41,1395.39,14.62,...,522.77,2387.96,8137.92,8.3861,0.03,391,2388,100.0,39.11,23.4381

In [23]:
input_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20631 entries, 0 to 20630
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unit_nr      20631 non-null  int64
 1   time_cycles  20631 non-null  int64
 2   setting_1    20631 non-null  float64
 3   setting_2    20631 non-null  float64
 4   setting_3    20631 non-null  float64
 5   s_1          20631 non-null  float64
 6   s_2          20631 non-null  float64
 7   s_3          20631 non-null  float64
 8   s_4          20631 non-null  float64
 9   s_5          20631 non-null  float64
 10  s_6          20631 non-null  float64
 11  s_7          20631 non-null  float64
 12  s_8          20631 non-null  float64
 13  s_9          20631 non-null  float64
 14  s_10         20631 non-null  float64
 15  s_11         20631 non-null  float64
 16  s_12         20631 non-null  float64
 17  s_13         20631 non-null  float64
 18  s_14         20631 non-null  float64
 19  s_15         20631 non-null  float64
 20  s_16         20631 non-null  float64
 21  s_17         20631 non-null  int64
 22  s_18         20631 non-null  int64
 23  s_19         20631 non-null  float64
 24  s_20         20631 non-null  float64
 25  s_21         20631 non-null  float64
dtypes: float64(22), int64(4)
memory usage: 4.1 MB

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

#scaled_features = scaler.fit_transform(input_features)
#print(scaled_features.shape)
#scaled_features[0]


meta_cols = ['unit_nr']
sensor_cols = input_features.columns.difference(meta_cols)

scaled = scaler.fit_transform(input_features[sensor_cols])
scaled_features = pd.DataFrame(scaled, columns=sensor_cols, index=input_features.index)

# optionally reattach the ID
#scaled_df[meta_cols] = input_features[meta_cols]
scaled_features.insert(0, 'unit_nr', input_features['unit_nr'])
scaled_features.head()


scaled_features.head()

,unit_nr,s_1,s_10,s_11,s_12,s_13,s_14,s_15,s_16,s_17,...,s_4,s_5,s_6,s_7,s_8,s_9,setting_1,setting_2,setting_3,time_cycles
0,1,0.0,0.0,0.369048,0.633262,0.205882,0.199608,0.363986,0.0,0.333333,...,0.309757,0.0,1.0,0.726248,0.242424,0.109755,0.459770,0.166667,0.0,0.00000
1,1,0.0,0.0,0.380952,0.765458,0.279412,0.162813,0.411312,0.0,0.333333,...,0.352633,0.0,1.0,0.628019,0.212121,0.100242,0.609195,0.250000,0.0,0.00277
2,1,0.0,0.0,0.250000,0.795309,0.220588,0.171793,0.357445,0.0,0.166667,...,0.370527,0.0,1.0,0.710145,0.272727,0.140043,0.252874,0.750000,0.0,0.00554
3,1,0.0,0.0,0.166667,0.889126,0.294118,0.174889,0.166603,0.0,0.333333,...,0.331195,0.0,1.0,0.740741,0.318182,0.124518,0.540230,0.500000,0.0,0.00831
4,1,0.0,0.0,0.255952,0.746269,0.235294,0.174734,0.402078,0.0,0.416667,...,0.404625,0.0,1.0,0.668277,0.242424,0.149960,0.390805,0.333333,0.0,0.01108

In [26]:
train_df_scaled = pd.DataFrame(scaled_features, columns=setting_names)
train_df_scaled.head()

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,0.00000,0.459770,0.166667,0.0,0.0,0.183735,0.406802,0.309757,0.0,...,0.633262,0.205882,0.199608,0.363986,0.0,0.333333,0.0,0.0,0.713178,0.724662
1,1,0.00277,0.609195,0.250000,0.0,0.0,0.283133,0.453019,0.352633,0.0,...,0.765458,0.279412,0.162813,0.411312,0.0,0.333333,0.0,0.0,0.666667,0.731014
2,1,0.00554,0.252874,0.750000,0.0,0.0,0.343373,0.369523,0.370527,0.0,...,0.795309,0.220588,0.171793,0.357445,0.0,0.166667,0.0,0.0,0.627907,0.621375
3,1,0.00831,0.540230,0.500000,0.0,0.0,0.343373,0.256159,0.331195,0.0,...,0.889126,0.294118,0.174889,0.166603,0.0,0.333333,0.0,0.0,0.573643,0.662386
4,1,0.01108,0.390805,0.333333,0.0,0.0,0.349398,0.257467,0.404625,0.0,...,0.746269,0.235294,0.174734,0.402078,0.0,0.416667,0.0,0.0,0.589147,0.704502

In [27]:
train_df_scaled.shape

(20631, 26)

In [28]:
import numpy as np

sequence_length = 50

def create_sequences(data, targets, seq_length=50):
    sequences = []
    target_list = []
    for i in range(len(data) - seq_length + 1):
        seq = data[i:i + seq_length]
        target = targets[i + seq_length - 1]
        sequences.append(seq)
        target_list.append(target)
    return np.array(sequences), np.array(target_list)

In [29]:
engine_ids = train_df_scaled['unit_nr'].unique()
engine_ids

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [30]:
unit_id = engine_ids[0]
subset = train_df_scaled[train_df_scaled['unit_nr'] == unit_id]
print(subset.shape)
subset.head()

(192, 26)

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,0.00000,0.459770,0.166667,0.0,0.0,0.183735,0.406802,0.309757,0.0,...,0.633262,0.205882,0.199608,0.363986,0.0,0.333333,0.0,0.0,0.713178,0.724662
1,1,0.00277,0.609195,0.250000,0.0,0.0,0.283133,0.453019,0.352633,0.0,...,0.765458,0.279412,0.162813,0.411312,0.0,0.333333,0.0,0.0,0.666667,0.731014
2,1,0.00554,0.252874,0.750000,0.0,0.0,0.343373,0.369523,0.370527,0.0,...,0.795309,0.220588,0.171793,0.357445,0.0,0.166667,0.0,0.0,0.627907,0.621375
3,1,0.00831,0.540230,0.500000,0.0,0.0,0.343373,0.256159,0.331195,0.0,...,0.889126,0.294118,0.174889,0.166603,0.0,0.333333,0.0,0.0,0.573643,0.662386
4,1,0.01108,0.390805,0.333333,0.0,0.0,0.349398,0.257467,0.404625,0.0,...,0.746269,0.235294,0.174734,0.402078,0.0,0.416667,0.0,0.0,0.589147,0.704502

In [31]:
x_list = []
y_list = []

for unit_id in engine_ids:

    subset = train_df_scaled[train_df_scaled['unit_nr'] == unit_id]
    subset_targets = train_df_merged[train_df_merged['unit_nr'] == unit_id]['RUL'].values
    x,y =create_sequences(subset, subset_targets, seq_length=sequence_length)
    x_list.append(x)
    y_list.append(y)

In [36]:
print(x_list[0].shape)
print(y_list[0].shape)
print(x_list[1].shape)
print(y_list[1].shape)
print(len(x_list))
print(len(y_list))

(143, 50, 26)
(143,)
(238, 50, 26)
(238,)
100
100

In [34]:
x_stack = np.concatenate(x_list, axis=0)
y_stack = np.concatenate(y_list, axis=0)

print(x_stack.shape)
print(y_stack.shape)

(15731, 50, 26)
(15731,)

In [39]:
import torch

X_train_tensor = torch.tensor(x_stack, dtype=torch.float32)
y_train_tensor = torch.tensor(y_stack, dtype=torch.float32)

print(X_train_tensor.shape)
print(y_train_tensor.shape)

torch.Size([15731, 50, 26])
torch.Size([15731])

In [ ]:
class LSTMModel(nn.Module):
    def __init__(self, input_size, hidden_size, batch_first=True):
        super(LSTMModel, self).__init__()
        self.hidden_size = hidden_size
        self.lstm = nn.LSTM(input_size, hidden_size, batch_first=batch_first)
        self.fc = nn.Linear(hidden_size, 1)