In [1]:
import os

# 1. Create a directory for the data
if not os.path.exists('data'):
    os.makedirs('data')

# 2. Download the zip file (using a reliable mirror for the NASA dataset)
!#wget https://data.nasa.gov/docs/legacy/CMAPSSData.zip -O data/CMAPSSData.zip

# 3. Unzip it
#!unzip -o data/CMAPSSData.zip -d data/

#print("Data downloaded and extracted!")

In [2]:
# The dataset has 26 columns
# 1. Unit Number (Which engine is it?)
# 2. Time Cycles (How long has it been running?)
# 3-5. Operational Settings (Altitude, Speed, etc.)
# 6-26. Sensor Readings (s1 to s21)

index_names = ['unit_nr', 'time_cycles']
setting_names = ['setting_1', 'setting_2', 'setting_3']
sensor_names = ['s_{}'.format(i) for i in range(1, 22)] 
col_names = index_names + setting_names + sensor_names

print(col_names)

['unit_nr', 'time_cycles', 'setting_1', 'setting_2', 'setting_3', 's_1', 's_2', 's_3', 's_4', 's_5', 's_6', 's_7', 's_8', 's_9', 's_10', 's_11', 's_12', 's_13', 's_14', 's_15', 's_16', 's_17', 's_18', 's_19', 's_20', 's_21']

In [3]:
import pandas as pd

data_df = pd.read_csv('data/train_FD001.txt', sep=r'\s+', header=None, names=col_names)

print("Training data shape:", data_df.shape)
data_df.head()

Training data shape: (20631, 26)

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_12,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [4]:
col_names

['unit_nr',
 'time_cycles',
 'setting_1',
 'setting_2',
 'setting_3',
 's_1',
 's_2',
 's_3',
 's_4',
 's_5',
 's_6',
 's_7',
 's_8',
 's_9',
 's_10',
 's_11',
 's_12',
 's_13',
 's_14',
 's_15',
 's_16',
 's_17',
 's_18',
 's_19',
 's_20',
 's_21']

In [5]:
max_value_cycle = data_df.groupby('unit_nr')['time_cycles'].max()

# Convert Series to DataFrame with a specific column name
max_cycle_df = max_value_cycle.to_frame(name='max_cycle')
max_cycle_df.head()

         max_cycle
unit_nr
1              192
2              287
3              179
4              189
5              269

In [6]:
data_df = data_df.merge(max_cycle_df, left_on='unit_nr', right_index=True)
data_df.head()

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_13,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,max_cycle
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,192
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,192
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,192
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,192
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,192

In [7]:
data_df['RUL'] = (
    data_df['max_cycle'] - data_df['time_cycles']
)
data_df.head()

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,max_cycle,RUL
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,192,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,192,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,192,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,192,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,192,187

In [8]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20631 entries, 0 to 20630
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unit_nr      20631 non-null  int64
 1   time_cycles  20631 non-null  int64
 2   setting_1    20631 non-null  float64
 3   setting_2    20631 non-null  float64
 4   setting_3    20631 non-null  float64
 5   s_1          20631 non-null  float64
 6   s_2          20631 non-null  float64
 7   s_3          20631 non-null  float64
 8   s_4          20631 non-null  float64
 9   s_5          20631 non-null  float64
 10  s_6          20631 non-null  float64
 11  s_7          20631 non-null  float64
 12  s_8          20631 non-null  float64
 13  s_9          20631 non-null  float64
 14  s_10         20631 non-null  float64
 15  s_11         20631 non-null  float64
 16  s_12         20631 non-null  float64
 17  s_13         20631 non-null  float64
 18  s_14         20631 non-null  float64
 19  s_15         20631 non-null  float64
 20  s_16         20631 non-null  float64
 21  s_17         20631 non-null  int64
 22  s_18         20631 non-null  int64
 23  s_19         20631 non-null  float64
 24  s_20         20631 non-null  float64
 25  s_21         20631 non-null  float64
 26  max_cycle    20631 non-null  int64
 27  RUL          20631 non-null  int64
dtypes: float64(22), int64(6)
memory usage: 4.4 MB

In [9]:
#train_df = data_df[setting_names].copy()
#train_df.head(200)

In [10]:
#train_df.info()

In [11]:
from sklearn.preprocessing import MinMaxScaler


not_scaled_cols = ['unit_nr', 'RUL', 'max_cycle']

col_set = set(col_names)
columns_to_scale = [col for col in col_names if col not in not_scaled_cols]

print("Columns to scale:", columns_to_scale)

scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(data_df[columns_to_scale])
scaled_data_df = pd.DataFrame(scaled, columns=columns_to_scale, index=data_df.index)

scaled_data_df.insert(0, 'unit_nr', data_df['unit_nr'])
scaled_data_df.insert(len(scaled_data_df.columns), 'RUL', data_df['RUL'])
scaled_data_df.insert(len(scaled_data_df.columns), 'max_cycle', data_df['max_cycle'])
scaled_data_df.head()

Columns to scale: ['time_cycles', 'setting_1', 'setting_2', 'setting_3', 's_1', 's_2', 's_3', 's_4', 's_5', 's_6', 's_7', 's_8', 's_9', 's_10', 's_11', 's_12', 's_13', 's_14', 's_15', 's_16', 's_17', 's_18', 's_19', 's_20', 's_21']

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,RUL,max_cycle
0,1,0.00000,0.459770,0.166667,0.0,0.0,0.183735,0.406802,0.309757,0.0,...,0.199608,0.363986,0.0,0.333333,0.0,0.0,0.713178,0.724662,191,192
1,1,0.00277,0.609195,0.250000,0.0,0.0,0.283133,0.453019,0.352633,0.0,...,0.162813,0.411312,0.0,0.333333,0.0,0.0,0.666667,0.731014,190,192
2,1,0.00554,0.252874,0.750000,0.0,0.0,0.343373,0.369523,0.370527,0.0,...,0.171793,0.357445,0.0,0.166667,0.0,0.0,0.627907,0.621375,189,192
3,1,0.00831,0.540230,0.500000,0.0,0.0,0.343373,0.256159,0.331195,0.0,...,0.174889,0.166603,0.0,0.333333,0.0,0.0,0.573643,0.662386,188,192
4,1,0.01108,0.390805,0.333333,0.0,0.0,0.349398,0.257467,0.404625,0.0,...,0.174734,0.402078,0.0,0.416667,0.0,0.0,0.589147,0.704502,187,192

In [12]:
#train_df_scaled = pd.DataFrame(scaled_features, columns=columns_to_scale)
#train_df_scaled.head()

In [13]:
import numpy as np

sequence_length = 50

def create_sequences(data, targets, seq_length=50):
    sequences = []
    target_list = []
    for i in range(len(data) - seq_length + 1):
        seq = data[i:i + seq_length]
        target = targets[i + seq_length - 1]
        sequences.append(seq)
        target_list.append(target)
    return np.array(sequences), np.array(target_list)

In [14]:
engine_ids = scaled_data_df['unit_nr'].unique()
engine_ids

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [15]:
train_ids = engine_ids[:80]
test_ids = engine_ids[80:]
print("len train ids:", len(train_ids))
print("len test ids:", len(test_ids))
print("len engine ids:", len(engine_ids))

len train ids: 80
len test ids: 20
len engine ids: 100

In [16]:
#unit_id = engine_ids[0]
#subset = scaled_data_df[scaled_data_df['unit_nr'] == unit_id]
#print(subset.shape)
#subset.head()

In [17]:
train_df = scaled_data_df[scaled_data_df['unit_nr'].isin(train_ids)]
test_df = scaled_data_df[scaled_data_df['unit_nr'].isin(test_ids)]
print("Train df shape:", train_df.shape)
print("Test df shape:", test_df.shape)

train_df.head()

Train df shape: (16138, 28)
Test df shape: (4493, 28)

,unit_nr,time_cycles,setting_1,setting_2,setting_3,s_1,s_2,s_3,s_4,s_5,...,s_14,s_15,s_16,s_17,s_18,s_19,s_20,s_21,RUL,max_cycle
0,1,0.00000,0.459770,0.166667,0.0,0.0,0.183735,0.406802,0.309757,0.0,...,0.199608,0.363986,0.0,0.333333,0.0,0.0,0.713178,0.724662,191,192
1,1,0.00277,0.609195,0.250000,0.0,0.0,0.283133,0.453019,0.352633,0.0,...,0.162813,0.411312,0.0,0.333333,0.0,0.0,0.666667,0.731014,190,192
2,1,0.00554,0.252874,0.750000,0.0,0.0,0.343373,0.369523,0.370527,0.0,...,0.171793,0.357445,0.0,0.166667,0.0,0.0,0.627907,0.621375,189,192
3,1,0.00831,0.540230,0.500000,0.0,0.0,0.343373,0.256159,0.331195,0.0,...,0.174889,0.166603,0.0,0.333333,0.0,0.0,0.573643,0.662386,188,192
4,1,0.01108,0.390805,0.333333,0.0,0.0,0.349398,0.257467,0.404625,0.0,...,0.174734,0.402078,0.0,0.416667,0.0,0.0,0.589147,0.704502,187,192

In [18]:
import numpy as np
from numpy.lib.stride_tricks import sliding_window_view

def create_sequences_vectorized(X, y, unit_ids, seq_length=50):
    # 1. Create windows (Batch, Seq, Features)
    X_windows = sliding_window_view(X, window_shape=seq_length, axis=0)
    X_windows = X_windows.transpose(0, 2, 1) # (Batch, Seq, Features)
    
    # 2. Align Targets (End of window)
    y_aligned = y[seq_length-1:]
    
    # 3. Create Mask (Ensure window doesn't cross units)
    unit_ids_start = unit_ids[:-seq_length+1]
    unit_ids_end   = unit_ids[seq_length-1:]
    valid_mask = (unit_ids_start == unit_ids_end)
    
    return X_windows[valid_mask], y_aligned[valid_mask]

# --- Usage ---
sensor_cols = [c for c in train_df.columns if c.startswith('s_')]




# 1. Prepare arrays (Sorted)
train_df = train_df.sort_values(['unit_nr', 'time_cycles'])
test_df = test_df.sort_values(['unit_nr', 'time_cycles'])


# Apply rolling mean with window 9 (common for FD001)
#print("Smoothing sensor data...")
#for col in sensor_cols:
 #   train_df[col] = train_df.groupby('unit_nr')[col].transform(
  #      lambda x: x.rolling(window=9, min_periods=1).mean())
   # test_df[col] = test_df.groupby('unit_nr')[col].transform(
    #    lambda x: x.rolling(window=9, min_periods=1).mean())


# 2. CRITICAL: Drop Target (RUL) and max_cycle from Inputs
# We only want the 24 sensor/setting columns + time_cycle
features_to_drop = ['unit_nr', 'RUL', 'max_cycle', "s_1", "s_5", "s_10", "s_16", "s_18", "s_19"]

X_train_arr = train_df.drop(columns=features_to_drop).values
y_train_arr = train_df['RUL'].values 
train_units = train_df['unit_nr'].values

X_test_arr = test_df.drop(columns=features_to_drop).values
y_test_arr = test_df['RUL'].values
test_units = test_df['unit_nr'].values

# 3. Create Sequences
X_train_seq, y_train_seq = create_sequences_vectorized(X_train_arr, y_train_arr, train_units, 50)
X_test_seq, y_test_seq = create_sequences_vectorized(X_test_arr, y_test_arr, test_units, 50)

print(f"Train Input Shape: {X_train_seq.shape}") 
# Expected shape: (N, 50, 24) -> 24 features

import torch


X_train_tensor = torch.tensor(X_train_seq, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train_seq, dtype=torch.float32)

X_test_tensor = torch.tensor(X_test_seq, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test_seq, dtype=torch.float32)   

print(f"X_train_tensor.shape: {X_train_tensor.shape}")
print(f"y_train_tensor.shape: {y_train_tensor.shape}")

print(f"X_test_tensor.shape: {X_test_tensor.shape}")
print(f"y_test_tensor.shape: {y_test_tensor.shape}")
print(f"X_test_tensor[0]: {X_test_tensor[0]}")
print(f"y_test_tensor[0]: {y_test_tensor[0]}")

Train Input Shape: (12218, 50, 19)
X_train_tensor.shape: torch.Size([12218, 50, 19])
y_train_tensor.shape: torch.Size([12218])
X_test_tensor.shape: torch.Size([3513, 50, 19])
y_test_tensor.shape: torch.Size([3513])
X_test_tensor[0]: tensor([[0.0000, 0.2126, 0.7500, 0.0000, 0.2500, 0.4114, 0.4115, 1.0000, 0.6329,
         0.3030, 0.1739, 0.4048, 0.7249, 0.2353, 0.1798, 0.4640, 0.2500, 0.5659,
         0.6107],
        [0.0028, 0.6322, 0.6667, 0.0000, 0.4337, 0.3316, 0.4326, 1.0000, 0.6200,
         0.2879, 0.1911, 0.3214, 0.7207, 0.2794, 0.2086, 0.5094, 0.3333, 0.5969,
         0.6228],
        [0.0055, 0.4713, 0.9167, 0.0000, 0.4036, 0.3353, 0.2389, 1.0000, 0.5523,
         0.3182, 0.1657, 0.3214, 0.5075, 0.2647, 0.2054, 0.4898, 0.5000, 0.6977,
         0.6446],
        [0.0083, 0.4943, 0.5000, 0.0000, 0.3614, 0.5199, 0.3817, 1.0000, 0.7085,
         0.2121, 0.1562, 0.4405, 0.6375, 0.2353, 0.2280, 0.4440, 0.3333, 0.4884,
         0.7269],
        [0.0111, 0.6379, 0.6667, 0.0000, 0.6627, 0.4240, 0.4613, 1.0000, 0.5878,
         0.2121, 0.1649, 0.2321, 0.5928, 0.3529, 0.2027, 0.2778, 0.3333, 0.6977,
         0.6033],
        [0.0139, 0.5287, 0.3333, 0.0000, 0.4639, 0.4027, 0.5464, 1.0000, 0.6023,
         0.2273, 0.1508, 0.3095, 0.5736, 0.2353, 0.2218, 0.3355, 0.2500, 0.6124,
         0.7363],
        [0.0166, 0.5747, 0.2500, 0.0000, 0.3886, 0.3671, 0.3364, 1.0000, 0.7037,
         0.1515, 0.1596, 0.5179, 0.6290, 0.2500, 0.1830, 0.4652, 0.2500, 0.5814,
         0.5851],
        [0.0194, 0.5690, 0.3333, 0.0000, 0.3404, 0.4700, 0.3378, 1.0000, 0.6683,
         0.2576, 0.1626, 0.1667, 0.7484, 0.2794, 0.2125, 0.2801, 0.3333, 0.5504,
         0.7081],
        [0.0222, 0.7356, 0.4167, 0.0000, 0.4669, 0.2418, 0.1573, 1.0000, 0.6683,
         0.1970, 0.1649, 0.3393, 0.5842, 0.2794, 0.2412, 0.3355, 0.2500, 0.7364,
         0.6261],
        [0.0249, 0.4655, 0.7500, 0.0000, 0.2319, 0.4875, 0.4468, 1.0000, 0.6329,
         0.3182, 0.1462, 0.3571, 0.6695, 0.2353, 0.1998, 0.4937, 0.5000, 0.5271,
         0.6798],
        [0.0277, 0.4828, 0.1667, 0.0000, 0.3916, 0.2974, 0.1948, 1.0000, 0.6844,
         0.1970, 0.1585, 0.4048, 0.6802, 0.2794, 0.2031, 0.4267, 0.2500, 0.4884,
         0.6066],
        [0.0305, 0.4483, 0.8333, 0.0000, 0.4940, 0.3547, 0.4247, 1.0000, 0.5475,
         0.3030, 0.1684, 0.3750, 0.7058, 0.2794, 0.1731, 0.3740, 0.4167, 0.7054,
         0.5747],
        [0.0332, 0.6379, 0.6667, 0.0000, 0.3976, 0.2899, 0.3371, 1.0000, 0.7230,
         0.2727, 0.1728, 0.3274, 0.7463, 0.3088, 0.2203, 0.3236, 0.4167, 0.6047,
         0.4943],
        [0.0360, 0.7701, 0.5833, 0.0000, 0.1476, 0.3316, 0.3045, 1.0000, 0.6135,
         0.2576, 0.1688, 0.3869, 0.6759, 0.2794, 0.2000, 0.4252, 0.3333, 0.6357,
         0.6471],
        [0.0388, 0.3621, 0.8333, 0.0000, 0.4187, 0.3054, 0.2900, 1.0000, 0.7166,
         0.2879, 0.1831, 0.3869, 0.6674, 0.2353, 0.2258, 0.2586, 0.4167, 0.5116,
         0.7531],
        [0.0416, 0.5862, 0.4167, 0.0000, 0.4337, 0.3455, 0.4283, 1.0000, 0.5765,
         0.1818, 0.1743, 0.2619, 0.6205, 0.2941, 0.2127, 0.3397, 0.3333, 0.6899,
         0.6882],
        [0.0443, 0.6264, 0.2500, 0.0000, 0.3645, 0.3793, 0.3727, 1.0000, 0.5926,
         0.3030, 0.1896, 0.3214, 0.5672, 0.2647, 0.2104, 0.6691, 0.3333, 0.6357,
         0.6435],
        [0.0471, 0.5862, 0.6667, 0.0000, 0.5151, 0.3242, 0.3341, 1.0000, 0.5894,
         0.2727, 0.1545, 0.3274, 0.6631, 0.3235, 0.1862, 0.3863, 0.3333, 0.5271,
         0.6772],
        [0.0499, 0.4138, 0.8333, 0.0000, 0.3223, 0.3283, 0.4018, 1.0000, 0.6634,
         0.3030, 0.1371, 0.3631, 0.6887, 0.2941, 0.2172, 0.3617, 0.4167, 0.6434,
         0.5098],
        [0.0526, 0.4943, 0.5000, 0.0000, 0.4217, 0.3926, 0.2716, 1.0000, 0.5620,
         0.1818, 0.1689, 0.3690, 0.7207, 0.3235, 0.2015, 0.3728, 0.4167, 0.5271,
         0.6721],
        [0.0554, 0.5575, 0.2500, 0.0000, 0.4699, 0.4027, 0.4580, 1.0000, 0.6731,
         0.2727, 0.2028, 0.3571, 0.6866, 0.2353, 0.2163, 0.3678, 0.3333, 0.5814,
         0.7277],
        [0.0582, 0.5230, 0.5000, 0.0000, 0.3554, 0.2889, 0.4056, 1.0000, 0.7407,
         0.2576, 0.2023, 0.4524, 0.6588, 0.2647, 0.2068, 0.3182, 0.4167, 0.6822,
         0.5229],
        [0.0609, 0.6552, 0.8333, 0.0000, 0.5361, 0.2538, 0.3396, 1.0000, 0.7568,
         0.2879, 0.1771, 0.3155, 0.7484, 0.2647, 0.2119, 0.3736, 0.5000, 0.6047,
         0.6479],
        [0.0637, 0.3391, 0.3333, 0.0000, 0.2590, 0.4408, 0.3261, 1.0000, 0.6957,
         0.2121, 0.1917, 0.3512, 0.6503, 0.3235, 0.1848, 0.4817, 0.3333, 0.5969,
         0.7154],
        [0.0665, 0.7184, 0.7500, 0.0000, 0.4217, 0.4822, 0.3839, 1.0000, 0.5507,
         0.3182, 0.1435, 0.3036, 0.6844, 0.2353, 0.2052, 0.3363, 0.4167, 0.5504,
         0.5222],
        [0.0693, 0.4770, 0.9167, 0.0000, 0.2861, 0.4317, 0.4002, 1.0000, 0.7101,
         0.1515, 0.1515, 0.3690, 0.6631, 0.2794, 0.1978, 0.2532, 0.3333, 0.4806,
         0.4392],
        [0.0720, 0.6149, 0.1667, 0.0000, 0.3886, 0.1591, 0.4477, 1.0000, 0.6151,
         0.2273, 0.1640, 0.2976, 0.7036, 0.1912, 0.1975, 0.4186, 0.3333, 0.5271,
         0.6433],
        [0.0748, 0.4080, 0.8333, 0.0000, 0.3976, 0.2797, 0.4129, 1.0000, 0.6602,
         0.2879, 0.1750, 0.3333, 0.6567, 0.2353, 0.2280, 0.4179, 0.5000, 0.5891,
         0.5148],
        [0.0776, 0.6379, 0.5833, 0.0000, 0.3614, 0.5097, 0.4301, 1.0000, 0.5894,
         0.2576, 0.1836, 0.3631, 0.6461, 0.3235, 0.2048, 0.2447, 0.5000, 0.5194,
         0.6134],
        [0.0803, 0.4483, 0.8333, 0.0000, 0.4608, 0.3043, 0.4752, 1.0000, 0.6039,
         0.1515, 0.1478, 0.3869, 0.5842, 0.2647, 0.2275, 0.3371, 0.2500, 0.6667,
         0.6904],
        [0.0831, 0.5575, 0.4167, 0.0000, 0.3916, 0.3104, 0.3307, 1.0000, 0.5250,
         0.2727, 0.1877, 0.3095, 0.7122, 0.3235, 0.2063, 0.1958, 0.4167, 0.5426,
         0.5267],
        [0.0859, 0.4713, 0.7500, 0.0000, 0.4578, 0.2884, 0.3596, 1.0000, 0.5684,
         0.2576, 0.1566, 0.2976, 0.6183, 0.2794, 0.2249, 0.4344, 0.4167, 0.5271,
         0.5106],
        [0.0886, 0.4483, 0.4167, 0.0000, 0.3645, 0.3776, 0.3212, 1.0000, 0.6699,
         0.2727, 0.1802, 0.3929, 0.7271, 0.3235, 0.2098, 0.5448, 0.4167, 0.6822,
         0.4649],
        [0.0914, 0.3908, 0.5833, 0.0000, 0.3916, 0.5675, 0.4507, 1.0000, 0.5942,
         0.3182, 0.1625, 0.2976, 0.7399, 0.2500, 0.2169, 0.3305, 0.3333, 0.4806,
         0.5650],
        [0.0942, 0.3161, 0.6667, 0.0000, 0.5452, 0.3710, 0.4332, 1.0000, 0.5459,
         0.3030, 0.2066, 0.1964, 0.7292, 0.2794, 0.1975, 0.3932, 0.3333, 0.6899,
         0.7231],
        [0.0970, 0.3908, 0.4167, 0.0000, 0.3012, 0.3026, 0.2593, 1.0000, 0.5700,
         0.2121, 0.1531, 0.3571, 0.5522, 0.2941, 0.2108, 0.3463, 0.4167, 0.5271,
         0.6001],
        [0.0997, 0.5690, 0.9167, 0.0000, 0.3163, 0.2575, 0.3545, 1.0000, 0.6393,
         0.2879, 0.1570, 0.3214, 0.5864, 0.3088, 0.2021, 0.4059, 0.3333, 0.5814,
         0.7241],
        [0.1025, 0.4425, 0.6667, 0.0000, 0.2982, 0.3780, 0.4419, 1.0000, 0.6715,
         0.1970, 0.1829, 0.3631, 0.6567, 0.2941, 0.2439, 0.2389, 0.2500, 0.4884,
         0.5291],
        [0.1053, 0.5000, 0.1667, 0.0000, 0.4578, 0.4879, 0.3958, 1.0000, 0.6119,
         0.2576, 0.1450, 0.3571, 0.6759, 0.2941, 0.2039, 0.3447, 0.1667, 0.5659,
         0.4923],
        [0.1080, 0.4138, 0.5000, 0.0000, 0.2741, 0.3643, 0.4262, 1.0000, 0.7085,
         0.2879, 0.1763, 0.3333, 0.7015, 0.2647, 0.2282, 0.3855, 0.4167, 0.5814,
         0.7450],
        [0.1108, 0.4080, 0.9167, 0.0000, 0.4578, 0.1365, 0.3327, 1.0000, 0.5878,
         0.2576, 0.1976, 0.2798, 0.7825, 0.2941, 0.2303, 0.4756, 0.5833, 0.5891,
         0.6693],
        [0.1136, 0.5977, 0.3333, 0.0000, 0.4729, 0.3017, 0.3982, 1.0000, 0.6135,
         0.1667, 0.1344, 0.3571, 0.5650, 0.2353, 0.2195, 0.4359, 0.4167, 0.7209,
         0.6106],
        [0.1163, 0.6897, 0.9167, 0.0000, 0.3675, 0.4637, 0.4173, 1.0000, 0.6989,
         0.1818, 0.1693, 0.3393, 0.7186, 0.2500, 0.2005, 0.4182, 0.5000, 0.4806,
         0.5606],
        [0.1191, 0.5690, 0.1667, 0.0000, 0.4217, 0.4186, 0.4740, 1.0000, 0.5926,
         0.2576, 0.1694, 0.4167, 0.6077, 0.2941, 0.1800, 0.4017, 0.4167, 0.6047,
         0.5576],
        [0.1219, 0.3046, 0.1667, 0.0000, 0.5693, 0.1836, 0.2880, 1.0000, 0.7166,
         0.2424, 0.1487, 0.3690, 0.6333, 0.2941, 0.2095, 0.4240, 0.4167, 0.6202,
         0.5267],
        [0.1247, 0.6609, 0.9167, 0.0000, 0.4187, 0.4138, 0.3494, 1.0000, 0.5604,
         0.1818, 0.1751, 0.2560, 0.6866, 0.3529, 0.2146, 0.3247, 0.5000, 0.5969,
         0.5526],
        [0.1274, 0.5345, 0.2500, 0.0000, 0.3584, 0.4750, 0.3540, 1.0000, 0.6876,
         0.2121, 0.1441, 0.3810, 0.5458, 0.3971, 0.2161, 0.4817, 0.3333, 0.5426,
         0.6640],
        [0.1302, 0.5345, 0.1667, 0.0000, 0.3313, 0.4205, 0.3300, 1.0000, 0.6103,
         0.1818, 0.1677, 0.3274, 0.7335, 0.2647, 0.2032, 0.3324, 0.4167, 0.5426,
         0.5427],
        [0.1330, 0.4023, 0.9167, 0.0000, 0.3223, 0.4105, 0.3754, 1.0000, 0.7069,
         0.2879, 0.1906, 0.3690, 0.5885, 0.2794, 0.2082, 0.4960, 0.4167, 0.6434,
         0.7490],
        [0.1357, 0.5517, 0.9167, 0.0000, 0.1747, 0.4596, 0.3506, 1.0000, 0.6184,
         0.3030, 0.1780, 0.2738, 0.6844, 0.2353, 0.2328, 0.1893, 0.3333, 0.6977,
         0.6346]])
y_test_tensor[0]: 190.0

In [ ]:
from torch.utils.data import DataLoader, TensorDataset
from torch import nn
from sklearn.metrics import mean_squared_error
import copy

# 1. Add Dropout to the Model
class EngineRULPredictor(nn.Module):
    def __init__(self, input_size, hidden_size=256, num_layers=2, dropout=0.2):
        super().__init__()
        # Dropout only works if num_layers > 1
        self.lstm = nn.LSTM(
            input_size, 
            hidden_size, 
            num_layers=num_layers, 
            batch_first=True,
            dropout=dropout
        )
        #self.fc = nn.Linear(hidden_size, 1)
        self.fc = nn.Sequential(
            nn.Linear(hidden_size, 64),
            nn.ReLU(),
            nn.Linear(64, 1)
        )
    def forward(self, x):
        out, _ = self.lstm(x)
        last_out = out[:, -1, :]
        return self.fc(last_out)

# 2. Setup (Reduced hidden size slightly to 128 to prevent overfitting)
device = torch.device("cuda" if torch.cuda.is_available() else "cpu")

train_loader = DataLoader(
    TensorDataset(X_train_tensor, y_train_tensor),
    batch_size=64,
    shuffle=True,
    drop_last=True
)

model = EngineRULPredictor(input_size=X_train_tensor.shape[2], hidden_size=128, num_layers=2, dropout=0.3)
model = model.to(device)

criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001, weight_decay=1e-5)

scheduler = torch.optim.lr_scheduler.ReduceLROnPlateau(
    optimizer, mode='min', factor=0.5, patience=5
)

# 3. Training with "Save Best" logic
EPOCHS = 150  # Lower epochs, let early stopping do the work
best_test_rmse = float('inf')
best_model_wts = copy.deepcopy(model.state_dict())

# Move validation data to GPU once
X_test_gpu = X_test_tensor.to(device)
y_test_real = y_test_seq # Keep real values for RMSE calculation

print("Starting Training with Validation...")

for epoch in range(EPOCHS):
    model.train() # Set to training mode (enables Dropout)
    epoch_loss = 0
    
    for X_batch, y_batch in train_loader:
        X_batch, y_batch = X_batch.to(device), y_batch.to(device)
        optimizer.zero_grad()
        out = model(X_batch)
        loss = criterion(out.squeeze(), y_batch)
        loss.backward()
        optimizer.step()
        epoch_loss += loss.item()
        
    # --- Validation Step ---
    model.eval() # Set to eval mode (disables Dropout)
    with torch.no_grad():
        # Get predictions
        preds_scaled = model(X_test_gpu).cpu().numpy().flatten()
        # Unscale
        preds_real = preds_scaled * max_rul
        # Calculate true RMSE
        mse = mean_squared_error(y_test_real, preds_real)
        current_rmse = np.sqrt(mse)
        scheduler.step(current_rmse)
    
    # Save model if it's the best so far
    if current_rmse < best_test_rmse:
        best_test_rmse = current_rmse
        best_model_wts = copy.deepcopy(model.state_dict())
        print(f"Epoch {epoch+1}: New Best RMSE: {current_rmse:.2f}")
    
    if (epoch + 1) % 10 == 0:
        avg_train_loss = epoch_loss / len(train_loader)
        print(f"Epoch {epoch+1}: Train Loss {avg_train_loss:.6f} | Test RMSE {current_rmse:.2f}")

# 4. Load the best weights back
print(f"Training complete. Best RMSE: {best_test_rmse:.2f}")
model.load_state_dict(best_model_wts)

Starting Training with Validation...

NameError: name 'train_loader' is not defined

In [ ]:
X_test_tensor = X_test_tensor.to("cpu")
y_test_tensor = y_test_tensor.to("cpu")
model.to("cpu")

#X_test_tensor = torch.tensor(X_test_seq, dtype=torch.float32).to(device)
# y_test_seq is the original TRUE RUL (not scaled)

model.eval()
with torch.no_grad():
    # Predict (Output is 0-1)
    preds_scaled = model(X_test_tensor)
    # Un-scale (Output becomes 0-300)
    preds_real = preds_scaled.cpu().numpy().flatten() * max_rul

# Calculate RMSE on real values
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test_seq, preds_real)
print(f"Test RMSE: {np.sqrt(mse):.2f}")

from matplotlib import pyplot as plt

# Plot
plt.figure(figsize=(10,6))
plt.plot(y_test_seq[:200], label='True RUL')
plt.plot(preds_real[:200], label='Predicted RUL')
plt.legend()
plt.show()

In [ ]:
import torch
print(f'Torch version: {torch.__version__}')
print(f'CUDA available: {torch.cuda.is_available()}')
print(f'CUDA device count: {torch.cuda.device_count()}')
if torch.cuda.is_available():
    print(f'Active device: {torch.cuda.get_device_name(torch.cuda.current_device())}')
else:
    print('No CUDA devices detected.')

In [ ]:
import torch
if not torch.cuda.is_available():
    raise SystemExit('CUDA is not available; skipping tensor test.')
device = torch.device('cuda')
x = torch.randn(1000, 1000, device=device)
y = torch.randn(1000, 1000, device=device)
z = torch.matmul(x, y)
print(f'Result tensor device: {z.device}')
print(f'Result sample: {z.flatten()[0].item():.6f}')